.btn-help {
    position: relative;
    right: 25px;
    display: inline-block;
    vertical-align: middle;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 0;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    background-color: lightblue;
    cursor: pointer;
}

.card-centent-table {
    width: 100%;
    height: 100%;
    border: 0;
}

    .card-centent-table td {
        height: 35px;
        line-height: 35px;
        border: 1px solid #ccc;
        padding-right: 2px;
    }

.card-table-label {
    text-align: right;
    width: 100px;
    background-color: #F6F6F6;
}

.card-table-centent {
    padding: 0 10px;
    position: relative;
}

.radioSpan {
    position: relative;
    border: 1px solid #95B8E7;
    background-color: #fff;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    display: block;
}
