.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, ו;
	font-size: 11px;
	color: #666;
	border-right: 3px outset;
	border-top: 3px outset;
	border-left: 3px outset;
	border-bottom: 3px outset;
	text-align: left;
	width: 200px;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	overflow: hidden;
}